/*<------------------- ETIQUETAS GENERALES ------------------->*/
body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

li {
    list-style: none;
}


h1 {
    font-size: 4rem;
}

h2 {
    font-size:3rem ;
}

h3 {
    font-size:2rem ;
}

p {
    font-size: 1.3rem;
}