/*<------------------- PAGINA - NUESTRAS HISTORIA -------------------*/
.body_historia {
    background-image: url(../assets/backgrounds/background1.png);   
}

.historia_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    background-color: $fondo-blanco-transparente;
    &__titulo {
        background-color: $fondo-titulos;
        font-family: $fuente-txt-1;
        text-align: center;
        margin-bottom: 2rem;
        border-top: $borde-titulos;
        border-bottom: $borde-titulos;
    }
    &__txt {
        margin: 5rem 5rem;
        text-align: center;
    }
    &__img {
        margin-top: 3rem;
        margin-bottom: 10rem;
        img {
            width: 44rem;
            margin: auto;
            display: block;
            box-shadow: $sombra-size-1;
        }
    }
}



.historia_seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    background-color: $fondo-blanco-transparente;
    &__titulo {
        background-color: $fondo-titulos;
        text-align: center;
        font-family: $fuente-txt-1;
        margin-bottom: 2rem;
        border-top: $borde-titulos;
        border-bottom: $borde-titulos;
    }
    &__txt {
        margin: 5rem 5rem;
        text-align: center;
    }
    &__img {
        margin-top: 3rem;
        margin-bottom: 10rem;
        img {
            width: 44rem;
            margin: auto;
            display: block;
            box-shadow: $sombra-size-2;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}
/* FIN PAGINA HISTORIA */