$fondo-blanco-transparente: rgba(255, 255, 255, 0.9);
$borde-titulos: 10px solid rgb(95, 35, 35);
$fondo-titulos: rgba(245, 222, 179, 0.5);
$marron: rgb(95, 35, 35);
$gris: rgba(128, 128, 128, 0.5);
$fuente-txt-1: 'Caveat', cursive;
$fuente-txt-2: 'Kanit', sans-serif;
$sombra-size-0: 0px 0px 5px black;
$sombra-size-1: 0px 0px 10px black;
$sombra-size-2: 0px 0px 15px black;
$sombra-size-3: 0px 0px 20px;
$sombra-size-4: 0px 0px 25px;