* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*<------------------- ETIQUETAS GENERALES ------------------->*/
body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kanit", sans-serif; }

a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-align: center; }

li {
  list-style: none; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

p {
  font-size: 1.3rem; }

/*<------------------- COMIENZO HEADER ------------------->*/
.container-fluid {
  background-color: wheat;
  font-family: 'Kanit', sans-serif; }

.navbar {
  padding: 0; }
  .navbar .navbar-nav {
    margin: 0 2rem;
    font-size: 1.2rem;
    transition: transicion-zoom; }
    .navbar .navbar-nav :hover {
      transform: scale(1.01);
      color: #5f2323;
      font-weight: 600; }
    .navbar .navbar-nav .nav-item {
      margin: 0 0.5rem; }

.header-logo {
  margin: 2rem;
  width: 14rem; }

.nav-link img {
  width: 1.8rem; }

.header-redes {
  display: flex;
  flex-direction: row;
  margin: 0 1rem; }
  .header-redes .header-red {
    margin: 0 5px; }

.header-txt {
  position: absolute;
  font-family: "Caveat", cursive;
  font-size: 1.6rem;
  color: black;
  top: 8rem;
  left: 20rem; }
  .header-txt span {
    color: #5f2323;
    font-weight: 600; }

/* FIN HEADER */
/*<------------------- COMIENZO FOOTER------------------->*/
.footer {
  background-color: wheat;
  display: grid;
  grid-template-areas: "footer_logo footer_redes" "footer_copyright footer_copyright";
  grid-template-rows: 1fr 2rem;
  grid-template-columns: 1fr; }
  .footer__redes {
    margin: 2rem 2rem; }
    .footer__redes p {
      font-weight: 600; }
    .footer__redes img {
      width: 2.5rem;
      margin: 1rem 0.5rem; }
  .footer__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0; }
  .footer__logo img {
    width: 15rem;
    margin-top: 3rem;
    margin-left: 4rem; }
  .footer__copyright {
    grid-column: 1/4;
    text-align: center; }
    .footer__copyright p {
      font-size: 1rem;
      font-weight: 600; }

/* FIN FOOTER */
/*----------------------------------- HOME - INICIO -----------------------------------*/
.body_home {
  background-image: url(../assets/backgrounds/background0.png); }

.home_main, .sabores_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5rem auto;
  background-color: rgba(255, 255, 255, 0.9); }
  .home_main__titulo, .sabores_main__titulo {
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323;
    background-color: rgba(245, 222, 179, 0.5);
    margin-bottom: 2rem; }
  .home_main__txt {
    margin: 2rem 5rem;
    text-align: center; }
  .home_main img, .sabores_main img {
    width: 44rem;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 3rem; }
  .home_main__btn {
    text-align: center;
    margin: 3rem auto; }
    .home_main__btn a {
      display: inline-block;
      position: relative;
      background-color: #5f2323;
      color: white;
      border-radius: 5%;
      padding: 1rem 2rem;
      box-shadow: 0px 0px 10px black;
      transition: all 0.3s ease-in-out; }
    .home_main__btn a:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px black;
      color: black;
      background-color: wheat; }

/*<---------------- Seccion A ---------------->*/
/*<--- Tipos de sabores --->*/
.home_productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10rem auto;
  background-color: rgba(255, 255, 255, 0.9); }
  .home_productos__titulo {
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323;
    background-color: rgba(245, 222, 179, 0.5);
    margin-bottom: 2rem; }
  .home_productos__txt {
    margin: 5rem 5rem;
    text-align: center; }
  .home_productos__imagenes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem; }
    .home_productos__imagenes h2 {
      text-align: center;
      font-family: "Caveat", cursive; }
    .home_productos__imagenes img {
      width: 14rem;
      background-color: white;
      border-radius: 10%;
      box-shadow: 0px 0px 10px black;
      margin-top: 1rem;
      transition: all 0.3s ease-in-out; }
  .home_productos__cremas img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px wheat; }
  .home_productos__chocolates img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #5b3b10; }
  .home_productos__ddl img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px burlywood; }
  .home_productos__btn {
    text-align: center;
    margin: 3rem auto; }
    .home_productos__btn a {
      display: inline-block;
      position: relative;
      background-color: #5f2323;
      color: white;
      border-radius: 5%;
      padding: 1rem 2rem;
      box-shadow: 0px 0px 10px black;
      transition: all 0.3s ease-in-out; }
    .home_productos__btn a:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px black;
      color: black;
      background-color: wheat; }

/*<---------------- Seccion B ---------------->*/
/*<--- Preparacion con video --->*/
.home_preparacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem auto;
  background-color: rgba(255, 255, 255, 0.9); }
  .home_preparacion__titulo {
    margin-bottom: 2rem;
    background-color: rgba(245, 222, 179, 0.5);
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323; }
  .home_preparacion__txt {
    margin: 3rem 5rem;
    text-align: center; }
  .home_preparacion__video video {
    width: 44rem;
    display: block;
    object-fit: contain;
    margin: 5rem auto;
    box-shadow: 0px 0px 10px black; }

/*<------------------- PAGINA - NUESTRAS HISTORIA -------------------*/
.body_historia {
  background-image: url(../assets/backgrounds/background1.png); }

.historia_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5rem auto;
  background-color: rgba(255, 255, 255, 0.9); }
  .historia_main__titulo {
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323;
    background-color: rgba(245, 222, 179, 0.5);
    margin-bottom: 2rem; }
  .historia_main__txt {
    margin: 2rem 5rem;
    text-align: center; }
  .historia_main img {
    width: 44rem;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 3rem; }

.historia_seccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5rem auto;
  background-color: rgba(255, 255, 255, 0.9); }
  .historia_seccion__titulo {
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323;
    background-color: rgba(245, 222, 179, 0.5);
    margin-bottom: 2rem; }
  .historia_seccion__txt {
    margin: 2rem 5rem;
    text-align: center; }
  .historia_seccion img {
    width: 44rem;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 3rem; }

/* FIN PAGINA HISTORIA */
/*<------------------- COMIENZO PAGINA - SABORES ------------------->*/
.body_sabores {
  background-image: url(../assets/backgrounds/background2.png); }

.sabores_main__botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15rem; }
  .sabores_main__botones a {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    background-size: cover;
    color: white;
    border-radius: 3%;
    margin-top: 3rem;
    font-family: "Caveat", cursive;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    transition: all 0.3s ease-in-out; }
    .sabores_main__botones a:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 15px black;
      color: wheat; }
  .sabores_main__botones__cremas {
    background-image: url(../assets/home_imagenes/cremas.png);
    padding: 10rem 8rem; }
  .sabores_main__botones__chocolates {
    background-image: url(../assets/home_imagenes/chocolate.png);
    padding: 10rem 6.5rem; }
  .sabores_main__botones__leche {
    background-image: url(../assets/home_imagenes/ddl.png);
    padding: 10rem 4.3rem; }

.sabores_secciones_titulos {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Caveat", cursive; }

.listado_sabores {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0; }
  .listado_sabores li {
    font-size: 1.3rem;
    grid-column: 2/4;
    margin: 8px; }

.sabores_secciona, .sabores_seccionb, .sabores_seccionc {
  background-color: rgba(255, 255, 255, 0.9);
  width: 40rem;
  margin: 15rem auto;
  border: 1px solid wheat;
  border-top: 10px solid wheat; }

.sabores_seccionb {
  border: 1px solid #5b3b10;
  border-top: 10px solid #5b3b10; }

.sabores_seccionc {
  border: 1px solid burlywood;
  border-top: 10px solid burlywood; }

/* FIN PAGINA SABORES */
/*<------------------- COMIENZO - GALERIA ------------------->*/
.body_galeria {
  background-image: url(../assets/backgrounds/background3.png); }

.galeria_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto 10rem;
  background-color: rgba(255, 255, 255, 0.9); }
  .galeria_main__titulo {
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323;
    background-color: rgba(245, 222, 179, 0.5);
    margin-bottom: 5rem; }
  .galeria_main__imagenes {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0rem auto 10rem;
    padding: 40px 0;
    grid-gap: 10px; }
    .galeria_main__imagenes img {
      width: 100%;
      vertical-align: top;
      box-shadow: 0px 0px 5px black;
      opacity: 0.9;
      transition: all 0.3s ease-in-out; }
      .galeria_main__imagenes img:hover {
        transform: scale(1.03);
        opacity: 1; }

/*<------------------- COMIENZO PAGINA - CONTACTOS ------------------->*/
.body_contactos {
  background-image: url(../assets/backgrounds/background4.png); }

.contactos_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto 10rem;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center; }
  .contactos_main__titulo {
    width: 100%;
    font-family: "Caveat", cursive;
    text-align: center;
    border-top: 10px solid #5f2323;
    border-bottom: 10px solid #5f2323;
    margin-bottom: 2rem;
    background-color: rgba(245, 222, 179, 0.5); }
  .contactos_main__formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
    margin: 2rem auto;
    font-size: 1.3rem; }
    .contactos_main__formulario div {
      margin-top: 0.5rem; }
  .contactos_main__field, .contactos_main__textarea {
    width: 100%;
    padding: 0.4rem;
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0.25rem; }
  .contactos_main__textarea {
    resize: none; }
  .contactos_main__newslatter_txt {
    font-size: 1.2rem; }
  .contactos_main__form_boton {
    cursor: pointer;
    background-color: #5f2323;
    color: white;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 5px black;
    transition: all 0.3s ease-in-out; }
    .contactos_main__form_boton:hover {
      transform: scale(1.01);
      box-shadow: 0px 0px 10px black;
      color: black;
      background-color: wheat; }

/*------------------------ MEDIA QUERIES ------------------------*/
@media (max-width: 1200px) {
  .sabores_main__botones {
    display: flex;
    flex-direction: row; }
    .sabores_main__botones__cremas {
      padding: 7rem 7rem; }
    .sabores_main__botones__chocolates {
      padding: 7rem 6rem; }
    .sabores_main__botones__leche {
      padding: 7rem 4rem; } }

@media (max-width: 992px) {
  .header-txt {
    display: none; }
  .header-redes {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .header-redes .header-red img {
      margin: 1.5rem 0.5rem; } }

@media (max-width: 768px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 2rem; }
  p {
    font-size: 1.2rem; }
  .header-logo {
    width: 12rem;
    margin: 1rem; }
  /*------------ home ------------*/
  .home_main__img img {
    width: 95%; }
  .home_main__txt {
    margin: 3rem 1rem; }
  .home_productos__imagenes img {
    width: 12rem; }
  .home_productos__txt {
    margin: 3rem 1rem; }
  .home_preparacion__video video {
    width: 95%; }
  .home_preparacion__txt {
    margin: 3rem 1rem; }
  /*------------ Historia ------------*/
  .historia_main__titulo {
    margin: 0; }
  .historia_main__img img {
    width: 95%; }
  .historia_main__txt {
    margin: 3rem 1rem; }
  .historia_seccion__img img {
    width: 95%; }
  .historia_seccion__txt {
    margin: 3rem 1rem; }
  /*------------ Sabores ------------*/
  .sabores_main__botones {
    display: flex;
    flex-direction: column; }
    .sabores_main__botones__cremas {
      padding: 7rem 6.5rem; }
    .sabores_main__botones__chocolates {
      padding: 7rem 5rem; }
    .sabores_main__botones__leche {
      padding: 7rem 2.9rem; }
  .listado_sabores li {
    font-size: 1.2rem; }
  .sabores_secciona, .sabores_seccionb, .sabores_seccionc {
    width: 90%; }
  .sabores_seccionb {
    width: 90%; }
  .sabores_seccionc {
    width: 90%; }
  /*------------ Contactos ------------*/
  .contactos_main__txt {
    margin: 0 2rem; }
  .contactos_main__formulario {
    width: 100%;
    font-size: 1.2rem;
    justify-items: center;
    margin-left: 0.7rem; }
  .contactos_main__newslatter_txt {
    font-size: 1.1rem; }
  .contactos_main__field, .contactos_main__textarea {
    width: 95%; }
  .contactos_main__form_boton {
    width: 95%;
    justify-items: center; } }

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
  p {
    font-size: 1.1rem; }
  /*------------ footer ------------*/
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2rem;
    text-align: center; }
    .footer__logo {
      width: 100%;
      margin: 3rem auto 1rem; }
      .footer__logo img {
        margin: auto; }
    .footer__redes {
      width: 100%;
      grid-row: 2;
      margin: 1rem auto; }
    .footer__copyright {
      width: 100%;
      grid-row: 3;
      text-align: center; }
      .footer__copyright p {
        font-size: 0.9rem; }
  /*------------ home------------*/
  .home_productos__imagenes {
    display: flex;
    flex-direction: column;
    text-align: center; }
  /*------------ Sabores ------------*/
  .sabores_main__botones a {
    font-size: 2rem; }
  .sabores_main__botones__cremas {
    padding: 6rem 20%; }
  .sabores_main__botones__chocolates {
    padding: 6rem 16%; }
  .sabores_main__botones__leche {
    padding: 6rem 10.5%; }
  .listado_sabores {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr; }
    .listado_sabores li {
      font-size: 1.1rem; }
  .galeria_main__titulo {
    margin-bottom: 0; }
  .galeria_main__imagenes {
    display: flex;
    flex-direction: column; }
  /*------------ Contactos ------------*/
  .contactos_main__formulario {
    width: 100%;
    font-size: 1.1rem;
    justify-items: center;
    margin-left: 0.7rem; }
  .contactos_main__newslatter_txt {
    font-size: 1rem; } }
