/*<------------------- COMIENZO PAGINA - CONTACTOS ------------------->*/
.body_contactos {
    background-image: url(../assets/backgrounds/background4.png);   
}

.contactos_main {
    @include flex-col-spacebtw;
    margin: $margin-5r-auto-10r;
    background-color: map-get($colores , "blanco-transparente" );
    align-items: center;
  
   &__titulo {
       width: 100%;
      @include titulo-caveat-bordes;  
       margin-bottom: 2rem;
       background-color: map-get($colores,"crema-claro");    
   }
   &__formulario {
       @include flex-col;
       width: 35rem;
       margin: 2rem auto;
       font-size: 1.3rem;
       div {
           margin-top: 0.5rem;
        }
   }
   &__field {
       width: 100%;
       padding: 0.4rem;
       font-family: $fuente-txt-2;
       font-size: 1.1rem;
       outline: none;
       border: $borde-1px-solid map-get($colores,"gris");
       border-radius: 0.25rem;
   }
   &__newslatter_txt {
       font-size: 1.2rem;
   }
   &__form_boton {
       cursor: pointer;
       background-color: map-get($colores,"bordo");
       color: white;
       padding: 0.5rem;
       margin-top: 0.5rem;
       margin-bottom: 3rem;
       font-family: $fuente-txt-2;
       font-size: 1rem;
       font-weight: 600;
       border: none;
       box-shadow: map-get($sombra, size-0);
       transition: $transicion-zoom;
       &:hover {
            transform: $escala-1per;
            box-shadow: map-get($sombra, size-1);
            color: black;
            background-color: wheat;
       }
   }
}

