/*<------------------- COMIENZO - GALERIA ------------------->*/
.body_galeria {
    background-image: url(../assets/backgrounds/background3.png);   
}
.galeria_main {
    @include flex-col-spacebtw;
    margin: $margin-5r-auto-10r;
    background-color: map-get($colores,"blanco-transparente");
    &__titulo {
        @include titulo-caveat-bordes;
        background-color: map-get($colores,"crema-claro");
        margin-bottom: 5rem;
       
    }
    &__imagenes {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        margin: 0rem auto 10rem;
        padding: 40px 0;
        grid-gap: 10px;
        img {
            width: 100%;
            vertical-align: top;
            box-shadow: map-get($sombra, size-0);
            opacity: 0.9;
            transition: $transicion-zoom;
            &:hover {
                transform: $escala-3per;
                opacity: 1;
            }
        }
    }
}