/*----------------------------------- HOME - INICIO -----------------------------------*/
.body_home {
    background-image: url(../assets/backgrounds/background0.png);
}

.home_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: $margin-5r-auto-10r;
    background-color: $fondo-blanco-transparente;

    &__titulo {
            background-color: $fondo-titulos;
            font-family: $fuente-txt-1;
            font-weight: 600;
            text-align: center;
            border-top: $borde-titulos;
            border-bottom: $borde-titulos;
    }
    &__txt {
        margin: 5rem 5rem;
        text-align: center;
    }
    
    img {
        width: 44rem;
        margin: auto;
        display: block;
        box-shadow: $sombra-size-1;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
       
    &__btn {
        text-align: center;
        margin: 5rem auto;
            a {
                display: inline-block;
                position: relative;
                background-color: $bordo;
                color: white;
                border-radius: $borde-radio-2;
                padding: 1rem 2rem;
                box-shadow: $sombra-size-1;
                transition: $transicion-zoom;
            }
            a:hover {
                transform: $escala-5per;
                box-shadow: $sombra-size-2;
                color: black;
                background-color: wheat;
            }
    }
}

/*<---------------- Seccion A ---------------->*/
/*<--- Tipos de sabores --->*/

.home_productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10rem auto;
    background-color: $fondo-blanco-transparente;
    &__titulo {
        margin-bottom: 2rem;
        background-color: $fondo-titulos;
        font-family: $fuente-txt-1;
        text-align: center;
        border-top: $borde-titulos;
        border-bottom: $borde-titulos;
        
    }
    &__txt {
        margin: 5rem 5rem;
        text-align: center;
    }
    &__imagenes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        h2 {
            text-align: center;
            font-family: $fuente-txt-1;
        }
        img {
            width: 14rem;
            background-color: white;
            border-radius: $borde-radio-4;
            box-shadow: $sombra-size-1;
            margin-top: 1rem;
            transition: $transicion-zoom;
        }
    }  
    &__cremas img:hover {
        transform: $escala-5per;
        box-shadow: $sombra-size-3 $crema;
    }
    &__chocolates img:hover {
        transform: $escala-5per;
        box-shadow: $sombra-size-3 $chocolate;
    }
    &__ddl img:hover {
        transform: $escala-5per;
        box-shadow: $sombra-size-3 $dulce-de-leche;
    }

    &__btn {
        text-align: center;
        margin: 5rem auto;
            a {
                display: inline-block;
                position: relative;
                background-color: $bordo;
                color: white;
                border-radius: $borde-radio-2;
                padding: 1rem 2rem;
                box-shadow: $sombra-size-1;
                transition: $transicion-zoom;
            }
            a:hover {
                transform: $escala-5per;
                box-shadow: $sombra-size-2;
                color: black;
                background-color: wheat;
                }   
            }
}
/*<---------------- Seccion B ---------------->*/
/*<--- Preparacion con video --->*/

.home_preparacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem auto;
    background-color: $fondo-blanco-transparente;
    &__titulo {
            margin-bottom: 2rem;
            background-color: $fondo-titulos;
            font-family: $fuente-txt-1;
            text-align: center;
            border-top: $borde-titulos;
            border-bottom: $borde-titulos;
    }  
    &__txt {
        margin: 5rem 5rem;
        text-align: center;
    }
    &__video video {
        width: 44rem;
        display: block;
        object-fit: contain;
        margin: 5rem auto;
        box-shadow: $sombra-size-1;
    }
}