/*----------------------------------- HOME - INICIO -----------------------------------*/
.body_home {
    background-image: url(../assets/backgrounds/background0.png);
}

.home_main {
    @include bloque-txt-img;
       
    &__btn {
        @include btn-hover 
    }
}

/*<---------------- Seccion A ---------------->*/
/*<--- Tipos de sabores --->*/

.home_productos {
    @include flex-col-evenly;
    margin: 10rem auto;
    background-color: map-get($colores,"blanco-transparente");
    &__titulo {
        @include titulo-caveat-bordes; 
        background-color: map-get($colores,"crema-claro");
        margin-bottom: 2rem;
    }
    &__txt {
        margin: 5rem 5rem;
        text-align: center;
    }
    &__imagenes {
        @include flex-row-evenly;
        margin-bottom: 2rem;
        h2 {
            text-align: center;
            font-family: $fuente-txt-1;
        }
        img {
            width: 14rem;
            background-color: white;
            border-radius: map-get($bordes , radio-4);
            box-shadow: map-get($sombra, size-1);
            margin-top: 1rem;
            transition: $transicion-zoom;
        }
    }  
    &__cremas img:hover {
        transform: $escala-5per;
        box-shadow: map-get($sombra, size-3) map-get($colores,"crema");
    }
    &__chocolates img:hover {
        transform: $escala-5per;
        box-shadow: map-get($sombra, size-3) map-get($colores,"chocolate");
    }
    &__ddl img:hover {
        transform: $escala-5per;
        box-shadow: map-get($sombra, size-3) map-get($colores,"dulce-de-leche");
    }

    &__btn {
        @include btn-hover
            }
            
}
/*<---------------- Seccion B ---------------->*/
/*<--- Preparacion con video --->*/

.home_preparacion {
    @include flex-col-center;
    margin: 10rem auto;
    background-color: map-get($colores,"blanco-transparente");
    &__titulo {
            margin-bottom: 2rem;
            background-color: map-get($colores,"crema-claro");
            @include titulo-caveat-bordes  
    }  
    &__txt {
        margin: 3rem 5rem;
        text-align: center;
    }
    &__video video {
        width: 44rem;
        display: block;
        object-fit: contain;
        margin: 5rem auto;
        box-shadow: map-get($sombra, size-1);
    }
}