/*------------------------ MEDIA QUERIES ------------------------*/
@media (max-width: 1200px){
    .sabores_main {
        &__botones {
            display: flex;
            flex-direction: row;
            &__cremas {
                padding: 7rem 7rem;
            }
        
            &__chocolates {
                padding: 7rem 6rem;
            }
        
            &__leche {
                padding: 7rem 4rem;
            }
        }
    }
}
@media (max-width: 992px) {
    .header-txt{
        display: none;
    }
    .header-redes {
        display: flex;
        flex-direction: row;
        justify-content: center; 

        .header-red img {
            margin: 1.5rem 0.5rem;
        }
    }
 
}



@media (max-width: 768px) {

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    
    .header-logo {
        width: 12rem;
        margin: 1rem;
    }

    /*------------ home ------------*/
    .home_main {
        &__img img {
            width: 95%;
        }
        &__txt {
            margin: 3rem 1rem;
        }
    }
    .home_productos {
        &__imagenes img {
            width: 12rem;
        }
        
        &__txt {
            margin: 3rem 1rem;
        }
    }
    .home_preparacion {
        &__video video {
            width: 95%;
        }
        
        &__txt {
            margin: 3rem 1rem;
        }
    }
    /*------------ Historia ------------*/
    .historia_main {
        &__titulo {
            margin: 0;
        }
        &__img img {
            width: 95%;
        }
        
        &__txt {
            margin: 3rem 1rem;
        }
    }
    .historia_seccion {
        &__img img {
            width: 95%;
        }
        
        &__txt {
            margin: 3rem 1rem;
        }
    }
    /*------------ Sabores ------------*/
    .sabores_main {
        &__botones {
            display: flex;
            flex-direction: column;
            &__cremas {
                padding: 7rem 6.5rem;
            }
            
            &__chocolates {
                padding: 7rem 5rem;
            }
        
            &__leche {
                padding: 7rem 2.9rem;
            }
        }
    }

    .listado_sabores li {
        font-size: 1.2rem;
    }

    .sabores_secciona {
        width: 90%;
    }
    .sabores_seccionb {
        width: 90%;
    }
    .sabores_seccionc {
        width: 90%;
    }
    /*------------ Contactos ------------*/
    .contactos_main {
        &__txt {
            margin: 0 2rem;
        }
      
        &__formulario {
            width: 100%;
            font-size: 1.2rem;
            justify-items: center;
            margin-left: 0.7rem;
        }
    
        &__newslatter_txt {
            font-size: 1.1rem;
        }
    
        &__field {
            width: 95%;
        }
        &__form_boton {
            width: 95%;
            justify-items: center;
        }
    }  
}
    
@media (max-width: 576px) {

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }
    /*------------ footer ------------*/
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2rem;
        text-align: center;
        &__logo {
            width: 100%;
            margin: 3rem auto 1rem;
            img {
                margin: auto;
            }
        }    
        &__redes {
            width: 100%;
            grid-row: 2;
            margin: 1rem auto;
        }
        &__copyright {
            width: 100%;
            grid-row: 3;
            text-align: center;
            p {
                font-size: 0.9rem;
            }
        }
    }
    

 /*------------ home------------*/
    .home_productos__imagenes {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
 /*------------ Sabores ------------*/  
    .sabores_main {
        &__botones {
            a {
                font-size: 2rem;
            }
            &__cremas {
                padding: 6rem 20%;
            }
            
            &__chocolates {
                padding: 6rem 16%;
            }
        
            &__leche {
                padding: 6rem 10.5%;
            }
        }
    }
    .listado_sabores{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:1fr 1.5fr 1fr;
        li {
        font-size: 1.1rem;
    }
    }
    .galeria_main{
        &__titulo {
            margin-bottom: 0;
        }
        &__imagenes {
            display: flex;
            flex-direction: column;
        }
    }
/*------------ Contactos ------------*/
    .contactos_main {
        &__formulario {
            width: 100%;
            font-size: 1.1rem;
            justify-items: center;
            margin-left: 0.7rem;
        }
        &__newslatter_txt {
            font-size: 1rem;
        }
    }
}