/*<------------------- COMIENZO PAGINA - SABORES ------------------->*/
.body_sabores {
    background-image: url(../assets/backgrounds/background2.png);   
}
.sabores_main {
    //Utilice extend para copiar las propiedades de la clase .home_main del archivo _home.scss//
    @extend .home_main;
    &__titulo {
        @extend .home_main__titulo;
    }
    &__botones {
        @include flex-row-spacearo;
        align-items: center;
        margin-bottom: 15rem;
        a {
           cursor: pointer;
           display: flex;
           flex-wrap: nowrap;
           background-size: cover;
           color: white;
           border-radius: map-get($bordes , radio-1);
           margin-top: 3rem;
           font-family: $fuente-txt-1;
           font-size: 3rem;
           font-weight: 600;
           font-style: italic;
           text-shadow: map-get($sombra, size-0);
           box-shadow: map-get($sombra, size-0);
           transition: $transicion-zoom;
           &:hover {
            transform: $escala-10per;
                box-shadow: map-get($sombra, size-2);
                color: wheat;
           }
        }
        &__cremas {
            background-image: url(../assets/home_imagenes/cremas.png);
            padding: 10rem 8rem;
        }
        &__chocolates {
            background-image: url(../assets/home_imagenes/chocolate.png);
            padding: 10rem 6.5rem;
        }
        
        &__leche{
            background-image: url(../assets/home_imagenes/ddl.png);
            padding: 10rem 4.3rem;
        }
    }
}

table {
    margin: 2rem auto;
}

.sabores_secciones_titulos {
    text-align: center;
    font-family: $fuente-txt-1;
}

.listado_sabores li {
    font-size: 1.3rem;
    margin: 1rem 0;
    list-style: none;
}


.sabores_secciona {
    @include seccion;
}

.sabores_seccionb {
    @extend .sabores_secciona;
    border: $borde-1px-solid map-get($colores,"chocolate");
    border-top: $borde-10px-solid map-get($colores,"chocolate"); 
   
}


.sabores_seccionc {
    @extend .sabores_secciona;
    border: $borde-1px-solid map-get($colores,"dulce-de-leche");
    border-top: $borde-10px-solid map-get($colores,"dulce-de-leche"); 
    
}

/* FIN PAGINA SABORES */