/*<------------------- COMIENZO PAGINA - SABORES ------------------->*/
.body_sabores {
    background-image: url(../assets/backgrounds/background2.png);   
}
.sabores_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: $margin-5r-auto-10r ;
    background-color: $fondo-blanco-transparente;
    &__titulo {
        background-color: $fondo-titulos;
        text-align: center;
        font-family: $fuente-txt-1;
        font-size: 3rem;
        margin-bottom: 2rem;
        border-top: $borde-titulos;
        border-bottom: $borde-titulos;
    }
    &__botones {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15rem;
        a {
           cursor: pointer;
           display: flex;
           flex-wrap: nowrap;
           background-size: cover;
           color: white;
           border-radius: $borde-radio-1;
           margin-top: 3rem;
           font-family: $fuente-txt-1;
           font-size: 3rem;
           font-weight: 600;
           font-style: italic;
           text-shadow: $sombra-size-0;
           box-shadow: $sombra-size-0;
           transition: $transicion-zoom;
           &:hover {
               transform: $escala-10per;
               box-shadow: $sombra-size-2;
               color: wheat;
           }
        }
        &__cremas {
            background-image: url(../assets/home_imagenes/cremas.png);
            padding: 10rem 8rem;
        }
        &__chocolates {
            background-image: url(../assets/home_imagenes/chocolate.png);
            padding: 10rem 6.5rem;
        }
        
        &__leche{
            background-image: url(../assets/home_imagenes/ddl.png);
            padding: 10rem 4.3rem;
        }
    }
}

table {
    margin: 2rem auto;
}

.sabores_secciones_titulos {
    text-align: center;
    font-family: $fuente-txt-1;
}

.listado_sabores li {
    font-size: 1.3rem;
    margin: 1rem 0;
    list-style: none;
}


.sabores_secciona {
    background-color: $fondo-blanco-transparente;
    width: 40rem;
    margin: 15rem auto;
    border: $borde-1px-solid $crema;
    border-top: $borde-10px-solid $crema;
}


.sabores_seccionb {
    background-color: $fondo-blanco-transparente;
    width: 40rem;
    margin: 15rem auto;
    border: $borde-1px-solid $chocolate;
    border-top: $borde-10px-solid $chocolate;
}


.sabores_seccionc {
    background-color: $fondo-blanco-transparente;
    width: 40rem;
    margin: 15rem auto;
    border: $borde-1px-solid $dulce-de-leche;
    border-top: $borde-10px-solid $dulce-de-leche;
}

/* FIN PAGINA SABORES */