$borde-titulos: 10px solid rgb(95, 35, 35);
$fuente-txt-1: 'Caveat', cursive;
$fuente-txt-2: 'Kanit', sans-serif;
$transicion-zoom: all 0.3s ease-in-out;
$margin-5r-auto-10r: 5rem auto 10rem;
$borde-1px-solid: 1px solid;
$borde-10px-solid: 10px solid;
$escala-1per: scale(1.01);
$escala-3per: scale(1.03);
$escala-5per: scale(1.05);
$escala-10per: scale(1.10);