$fondo-blanco-transparente: rgba(255, 255, 255, 0.9);
$borde-titulos: 10px solid rgb(95, 35, 35);
$fondo-titulos: rgba(245, 222, 179, 0.5);
$bordo: rgb(95, 35, 35);
$chocolate: rgb(91, 59, 16);
$dulce-de-leche: burlywood;
$crema: wheat;
$gris: rgba(128, 128, 128, 0.5);
$fuente-txt-1: 'Caveat', cursive;
$fuente-txt-2: 'Kanit', sans-serif;
$sombra-size-0: 0px 0px 5px black;
$sombra-size-1: 0px 0px 10px black;
$sombra-size-2: 0px 0px 15px black;
$sombra-size-3: 0px 0px 20px;
$sombra-size-4: 0px 0px 25px;
$transicion-zoom: all 0.3s ease-in-out;
$escala-1per: scale(1.01);
$escala-3per: scale(1.03);
$escala-5per: scale(1.05);
$escala-10per: scale(1.10);
$margin-5r-auto-10r: 5rem auto 10rem;
$borde-1px-solid: 1px solid;
$borde-10px-solid: 10px solid;
$borde-radio-0: 1%; 
$borde-radio-1: 3%;
$borde-radio-2: 5%;
$borde-radio-3: 8%;
$borde-radio-4: 10%;